<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Citizen Data</title>
    <link rel="stylesheet" href="main.css">
    <script src="./main.js"></script>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="9ja.png" width="112" height="28">
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/home">
            Home
          </a>
    
          <a class="navbar-item">
            Get NIN
          </a>

          <a class="navbar-item">
            Get BVN
          </a>
    
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>
            
            
    
            <div class="navbar-dropdown">
              <a class="navbar-item">
                About
              </a>
              <a class="navbar-item">
                Jobs
              </a>
              <a class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-ghost">
                <strong>Sign up</strong>
              </a>
              <a class="button is-success">
                Log in
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <form class="box" id="createUserForm" action="/biodata" method="POST">
    <fieldset id="createUserFormFieldSet" class="container">
    <div class="whole-form">
      <h1 class="notification-message">Enter Details</h1>
    <div class="field">
      <label class="label">First Name</label>
      <div class="control">
        <input class="input"id="firstName" name="firstName" type="text" placeholder="First Name" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Last Name</label>
      <div class="control">
        <input class="input"id="lastName" name="lastName" type="text" placeholder="Last Name" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Nationality</label>
      <div class="control">
      <div class="select">
        
        <select id='nationality' name='nationality' required>
          <option>Nigerian</option>
          <option>Foreign</option>
        </select>

      </div>
    </div>
    </div>

    <div class="field">
      <label class="label">Profession</label>
      <div class="control">
        <input class="input"id="profession" name="profession" type="text" placeholder="Profession" required>
      </div>
    </div>
    

      
    
    

    
   
    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox">
          I agree to the <a href="#">terms and conditions</a>
        </label>
      </div>
    </div>
    

    
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" id='submitCreateUserForm' onclick="submitForm()">Submit</button>
      </div>
      <div class="control">
        <button class="button is-link is-light" type="reset">Cancel</button>
      </div>
    </div>
  </fieldset>
  </form>
    <script type="text/javascript" src="lib/main.js"></script>
  </body>
</div>
</html>
